<h1>Listing activity_livereports</h1>

<table>
  <tr>
    <th>User</th>
    <th>Activity</th>
    <th>To user</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activity_livereports.each do |activity_livereport| %>
  <tr>
    <td><%= activity_livereport.user_id %></td>
    <td><%= activity_livereport.activity_id %></td>
    <td><%= activity_livereport.to_user_id %></td>
    <td><%= activity_livereport.content %></td>
    <td><%= link_to 'Show', activity_livereport %></td>
    <td><%= link_to 'Edit', edit_activity_livereport_path(activity_livereport) %></td>
    <td><%= link_to 'Destroy', activity_livereport, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity livereport', new_activity_livereport_path %>
