<h1>Listing user_follow_locations</h1>

<table>
  <tr>
    <th>User</th>
    <th>Follow</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_follow_locations.each do |user_follow_location| %>
  <tr>
    <td><%= user_follow_location.user_id %></td>
    <td><%= user_follow_location.follow_id %></td>
    <td><%= link_to 'Show', user_follow_location %></td>
    <td><%= link_to 'Edit', edit_user_follow_location_path(user_follow_location) %></td>
    <td><%= link_to 'Destroy', user_follow_location, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User follow location', new_user_follow_location_path %>
