<h1>Listing user_follow_users</h1>

<table>
  <tr>
    <th>User</th>
    <th>Follow</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_follow_users.each do |user_follow_user| %>
  <tr>
    <td><%= user_follow_user.user_id %></td>
    <td><%= user_follow_user.follow_id %></td>
    <td><%= link_to 'Show', user_follow_user %></td>
    <td><%= link_to 'Edit', edit_user_follow_user_path(user_follow_user) %></td>
    <td><%= link_to 'Destroy', user_follow_user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User follow user', new_user_follow_user_path %>
