<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_follow_user.user_id %>
</p>

<p>
  <b>Follow:</b>
  <%= @user_follow_user.follow_id %>
</p>


<%= link_to 'Edit', edit_user_follow_user_path(@user_follow_user) %> |
<%= link_to 'Back', user_follow_users_path %>
