<p id="notice"><%= notice %></p>

<p>
  <b>Parent:</b>
  <%= @comment.parent %>
</p>

<p>
  <b>Kid:</b>
  <%= @comment.kid %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
