<h1>Listing location_have_locations</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Child</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @location_have_locations.each do |location_have_location| %>
  <tr>
    <td><%= location_have_location.location_id %></td>
    <td><%= location_have_location.child_id %></td>
    <td><%= link_to 'Show', location_have_location %></td>
    <td><%= link_to 'Edit', edit_location_have_location_path(location_have_location) %></td>
    <td><%= link_to 'Destroy', location_have_location, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location have location', new_location_have_location_path %>
