<h1>Listing location_map_point_imgs</h1>

<table>
  <tr>
    <th>Point</th>
    <th>Imgurl</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @location_map_point_imgs.each do |location_map_point_img| %>
  <tr>
    <td><%= location_map_point_img.point_id %></td>
    <td><%= location_map_point_img.imgurl %></td>
    <td><%= link_to 'Show', location_map_point_img %></td>
    <td><%= link_to 'Edit', edit_location_map_point_img_path(location_map_point_img) %></td>
    <td><%= link_to 'Destroy', location_map_point_img, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location map point img', new_location_map_point_img_path %>
