<%=stylesheet_link_tag 'activities'%>
<%=javascript_include_tag javascript_path 'activities_form'%>
<div id='activities_form_box'>
<%= form_for @activity do |f| 
%>
         <script>
          $(function(){
            location_pick_box('#new_activity_location');
          });
      </script>
  <%=javascript_include_tag javascript_path 'routepicker'%>
  <div class='field'>
    <strong style='float:left;margin-right:35px;'>
      当前位置
    </strong>
    <div id='new_activity_location' location_id='1' class='location_pick_box'>
    </div>
  </div>
  <div class='field'>
	<div class='head'><strong>活动名</strong></div>
	<%=f.text_field :title,:placeholder=>'活动名'%>
  </div>
  <div class='field'>
	<div class='head'><strong>简介</strong></div>
	<%=f.text_area :slogan,:placeholder=>'对于活动信息的简单介绍'%>
  </div>
  <div class='field'>
  	<div class='head'><strong>上传海报</strong></div>
        <style>  
        #uploadImg{ font-size:12px; overflow:hidden; position:absolute;cursor: pointer;}  
        #activity_photo{ position:absolute; z-index:100; margin-left:-180px; font-size:60px;opacity:0;filter:alpha(opacity=0); margin-top:-5px;cursor: pointer;}  
        </style>  
          
        <span id="uploadImg">  
        <%= f.file_field :photo ,:size=>'1',:style=>'cursor:pointer;'%>
        <a href="#" class='upload_button'></a> </span>

  </div>
  <div class="field">
    <div class='head'><strong>开始时间</strong></div>
    <input id='activity_starttime' type='hidden' name='activity[starttime]' value=''/>
    <input type='text' id='activities_datepicker_start' size="10"  placeholder='点击选择日期'/>
    <input type='number' id='activities_datepicker_start_h' value="00" size="2" style="width:36px;"/>:<input type='number' id='activities_datepicker_start_m' value="00" size="2" style="width:36px;"/>
  </div>

  <div class="field">
    <div class='head'><strong>结束时间</strong></div>
    <input id='activity_endtime' type='hidden' name='activity[endtime]' value=''  placeholder='点击选择日期'/>
    <input type='text' id='activities_datepicker_end' size="10"  placeholder='点击选择日期'/>
    <input type='number' id='activities_datepicker_end_h' value="23" size="2" style="width:36px;"/>:<input type='number' id='activities_datepicker_end_m' value="59" size="2" style="width:36px;"/>

    
  </div>
  <div class='field'>
    <div class='head'><strong>标签</strong></div>
    <%=render :partial=>'tags/select'%>
  </div>
  <div class='field'>
  	<div class='head'><strong>详细内容</strong></div><a href='javascript:void(0)' id='activities_drag'></a>
  </div>
  <div class='field' id='activities_be_drag'>
	<%=f.text_area :content%>
  </div>
  <div class="field">
    <%= f.submit '创建',:class=>'ac_button'%>
    <%=link_to '取消', '/',:class=>'ac_button'%>
  </div>
<% end %>
</div>
