<h1>Listing activity_tags</h1>

<table>
  <tr>
    <th>Activity</th>
    <th>Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activity_tags.each do |activity_tag| %>
  <tr>
    <td><%= activity_tag.activity_id %></td>
    <td><%= activity_tag.tag_id %></td>
    <td><%= link_to 'Show', activity_tag %></td>
    <td><%= link_to 'Edit', edit_activity_tag_path(activity_tag) %></td>
    <td><%= link_to 'Destroy', activity_tag, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity tag', new_activity_tag_path %>
